{{template "header.html" .}}

<div class="ui container">
    <a class="ui large right floated blue labeled icon button" href="/streamlist/play/{{$.List.ID}}"><i class="play icon"></i>Play</a>
    <div class="ui hidden clearing divider"></div>
    <h2 class="ui header">Edit {{$.List.Title}}</h2>

    {{if $.Medias}}
        <table class="ui fixed striped unstackable table">
            <tbody>
                {{range $media := $.Medias}}
                    <tr>
                        <td class="nomobile two wide">
                            <img class="thumbnail" src="/streamlist/media/thumbnail/{{$media.ID}}">
                        </td>
                        <td class="ten wide">
                            <div class="truncate">{{$media.Title}}</div>
                        </td>
                        <td class="right aligned four wide">
                            {{duration $media.Length}}
                            &nbsp;&nbsp;
                            <a href="/streamlist/remove/{{$.List.ID}}/{{$media.ID}}"><i class="red remove icon"></i></a>
                        </td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    {{else}}
        <div class="ui hidden divider"></div>
        <div class="ui large message">
            <div class="header">
                This playlist has no media. Add media from your <a href="/streamlist/library">Library</a>.
            </div>
        </div>
        <div class="ui hidden divider"></div>
    {{end}}

    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>

    <a href="/streamlist/delete/{{$.List.ID}}" data-prompt="Delete {{$.List.Title}}?" class="confirm ui left floated red labeled basic icon button"><i class="trash icon"></i>Delete</a>
    <div class="ui hidden clearing divider"></div>

</div>

{{template "footer.html" .}}
