{{template "header.html" .}}

<div class="ui container">
    <a class="ui large right floated large green button" href="/soundscape/play/{{$.List.ID}}"><i class="play icon"></i>Play</a>
    <h2 class="ui header">Editing &quot;{{$.List.Title}}&quot;</h2>
    <div class="ui hidden clearing divider"></div>

    {{if $.List.Medias}}
        <table class="ui fixed striped unstackable large table">
            <tbody>
                {{range $media := $.List.Medias}}
                    <tr>
                        <td class="twelve wide">
                            <div class="breakup">
                                <a href="/soundscape/remove/{{$.List.ID}}/{{$media.ID}}"><i class="red minus circle icon"></i></a>
                                {{$media.Title}}
                            </div>
                        </td>
                        <td class="right aligned four wide">
                            {{duration $media.Length}}
                        </td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    {{else}}
        <div class="ui hidden divider"></div>
        <div class="ui large message">
            <div class="header">
                This playlist has no media
            </div>
            <p>
                Add media from your <a href="/soundscape/library">Library</a>.
            </p>
        </div>
        <div class="ui hidden divider"></div>
    {{end}}

    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>

    <a href="/soundscape/delete/{{$.List.ID}}" data-prompt="Delete {{$.List.Title}}?" class="confirm ui right floated red labeled basic icon button"><i class="trash icon"></i>Delete</a>
    <div class="ui hidden clearing divider"></div>

</div>

{{template "footer.html" .}}
