<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="referrer" content="origin">
        <link rel="icon" href="/soundscape/static/logo.png">
        <link rel="apple-touch-icon" href="/soundscape/static/logo.png">

        <title>Soundscape</title>

        <link rel="stylesheet" type="text/css" href="/soundscape/static/roboto.css">
        <link rel="stylesheet" type="text/css" href="/soundscape/static/semantic/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/soundscape/static/style.css?version=12345">

        <script src="/soundscape/static/jquery.min.js"></script>
        <script src="/soundscape/static/semantic/semantic.min.js"></script>
    </head>
    <body>

        {{if $.User}}
            {{if $.Config.Get.AcceptTOS}}
                <div class="navmenu ui inverted small menu">
                    {{if $.Backlink}}
                        <a class="item" href="{{.Backlink}}"><i class="large home icon"></i></a>
                    {{end}}
                    <a class="item {{if eq $.Section "home" "edit" "play"}}active{{end}}" href="/soundscape/">Playlists</a>
                    <a class="item {{if eq $.Section "library"}}active{{end}}" href="/soundscape/library">Library</a>
                    <a class="item {{if eq $.Section "import"}}active{{end}}" href="/soundscape/import">Import</a>
                    <a class="item {{if eq $.Section "create"}}active{{end}}" href="/soundscape/create"><i class="fitted plus icon"></i></a>
                    <div class="ui right dropdown item">
                        <img src="/soundscape/static/logo.png">
                        <div class="menu">
                            <a target="_blank" class="item" href="https://github.com/soundscapecloud/soundscape"><i class="github icon"></i>Open Source</a>
                            <a href="/soundscape/help" class="{{if eq $.Section "help"}}active{{end}} item"><i class="help icon"></i>Help</a>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="ui hidden divider"></div>
            {{end}}
        {{end}}

        {{with $message := $.Request.FormValue "message"}}
            <div class="ui container">
                <div class="ui positive message">
                    {{if eq $message "mediadeleted"}}
                        <a href="/soundscape/library"><i class="close icon"></i></a>
                        <div class="header">
                            Success: media deleted
                        </div>
                    {{else if eq $message "savecancelled"}}
                        <a href="/soundscape/import"><i class="close icon"></i></a>
                        <div class="header">
                            Success: save cancelled
                        </div>
                    {{else if eq $message "playlistadded"}}
                        <a href="/soundscape/"><i class="close icon"></i></a>
                        <div class="header">
                            Success: playlist added
                        </div>
                    {{else if eq $message "playlistdeleted"}}
                        <a href="/soundscape/"><i class="close icon"></i></a>
                        <div class="header">
                            Success: playlist deleted
                        </div>
                    {{end}}
                </div>
                <div class="ui hidden divider"></div>
            </div>
        {{end}}

        {{with $error := $.Error}}
            <div class="ui container">
                <div class="ui negative icon message">
                    <i class="warning sign icon"></i>
                    <div class="content">
                        <div class="header">{{$error}}</div>
                    </div>
                </div>
                <div class="ui hidden divider"></div>
            </div>
        {{end}}

        <div class="full height">
